{% extends 'base.html.twig' %}

{% block title %}Dinosaurs index{% endblock %}

{% block body %}
    <h1>Liste des dinosaures</h1>
    <div style="margin-bottom: 1rem;">
        <a href="{{ path('dinosaurs_by_cool', { cool: 1 }) }}" class="button">Voir les cool dinos</a>
        <a href="{{ path('dinosaurs_by_cool', { cool: 0 }) }}" class="button secondary">Voir les pas cool dinos</a>
        <a href="{{ path('home') }}" class="button reset">Tout les dinos</a>
        <a href="{{ path('app_dinosaurs_new') }}" class="button add">➕ Ajouter un dinosaure</a>

    </div>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Espèce</th>
            <th>Taille (m)</th>
            <th>Poids (kg)</th>
            <th>Cool ?</th>
            <th>Dernière vue</th>
            <th>Période</th>
            <th>Scientifiques associés</th>
        </tr>
        </thead>
        <tbody>
        {% for dino in dinosaurs %}
            <tr onclick="window.location='{{ path('app_dinosaurs_edit', {id: dino.id}) }}'" class="clickable-row">
                <td>{{ dino.name }}</td>
                <td>{{ dino.species ? dino.species.name : 'Inconnue' }}</td>
                <td>{{ dino.height }}</td>
                <td>{{ dino.weight }}</td>
                <td>{{ dino.isLookingCool ? 'Yeah️' : 'Nope' }}</td>
                <td>{{ dino.lastSeen ? dino.lastSeen|date('Y-m-d') : 'Jamais' }}</td>
                <td>{{ dino.period ? dino.period.name : 'Inconnue' }}</td>
                <td>
                    <ul>
                        {% for scientist in dino.scientists %}
                            <li>{{ scientist.name }}</li>
                        {% else %}
                            <li>Aucun</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
